[submodule "vendor/bare"]
	path = vendor/bare
	url = https://github.com/holepunchto/bare.git
[submodule "vendor/concurrentqueue"]
	path = vendor/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
